body {
  background-color: orangered;
}

#pokeID::before {
  content: 'ID and name: ';
}

div[id] {
  border: 2px solid orangered;
  margin: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-x: scroll;
  overflow-y: hidden;
}

#pokePic::before {
  content: 'Pictures: ';
}

#pokeMoves::before {
  content: 'Moves: ';
}

#pokeEvo::before {
  content: 'Evolved from: ';
}
